* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* top online food mania nam */
h1 {
    margin: 20px;
    text-align: center;
    font-size: 70px;
}

/* Navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    height: 80px;
}

/* Navigation bar logo image */
#logo {
    margin: 8px 24px;

}

#logo img {
    border-radius: 15px;
    height: 66px;
    margin: 3px 6px;
}

/*Navigation bar list style*/

#navbar ul {

    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#navbar ul li {
    list-style: none;
    font-style: 1.3rem;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

#navbar ul li a {

    margin: 26px;
    color: rgb(209, 198, 198);
    text-decoration: none;
    padding: 30px;

}

#navbar ul li a:hover {
    margin: 20px;
    padding: 20px;
    background-color: gray;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(138, 129, 129);
    border-radius: 20px;
}


/* button */
#nex {
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    width: 87px;
    margin: 30px;
    padding: 10px;
}

#nex a {
    text-decoration: none;
    list-style: none;
}

.btn {

    justify-content: center;
    display: flex;
    width: 90px;
    height: 30px;
    margin: 10px;
    border-radius: 7px;
    background-color: rgb(14, 14, 14);
    color: rgb(12, 12, 21);
    text-decoration: none;
    list-style: none;
    padding: 5px 10px;
    margin-left: 145px;
    color: white;

}

.btn:hover {
    color: rgb(14, 10, 10);
    background-color: rgb(175, 157, 157);
}






.mc{
    height: 200px;
    width: 300px;
    padding: 24px;
    border-radius: 36px;
}

.ze {


    margin: 20px;
    border-radius: 20px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;

}

.ze img {
    height: 200px;
    width: 300px;
    padding: 24px;
    border-radius: 36px;
}

#container1 {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

#container3 {
    display: flex;
    padding: 20px 10px 20px 10px;
    margin: 20px 20px 20px 20px;
}

.para {
    font-size: 15px;
    padding: 11px;
}



#container4 {

    margin-left: 470px;
    margin-right: 470px;

}


/* footer style  */
.foot{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 250px;
    background-color: black;
    color: aliceblue;
}



.column {
    
 margin-left: 100px;
 padding: 40px 40px 40px 40px;
 padding-top: 30px;
}
.p{
    padding-top: 23px;
}














/* prev */

/* css reset */

/* body {
   
    background-color: rgb(244, 223, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
#top3
{
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: bisque;
border-radius: 20px;

}
header #top {
    color: rgb(2, 1, 0);
    text-align: center;


}

header #top1 {
    color: rgb(17, 14, 11);
    text-align: center;
}

#navbar {
    margin: auto;
    padding: 0px;
    border: 2px solid rgb(106, 76, 70);
    background-color: rgb(216, 198, 198);
    border-radius: 40px;
    flex-direction: row;
    width: 609px;
    height: 80px;
    position: relative;
    top: 20px;
    left:400px; 
} 



 ul li {

    list-style: none;
    margin: 15px;
    border-radius: 20px;
    display: inline-block;


}

ul li a {

    padding: 28px;
    color: rgb(38, 36, 36);
    text-decoration: none;
    border-radius: 10px;

}

ul li a:hover {
    background-color: rgb(184, 125, 125);
    border-radius: 10px;

}
header #top {
    color: rgb(2, 1, 0);
    text-align: center;


}

header #top1 {
    color: rgb(17, 14, 11);
    text-align: center;
}

#container1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 63vh;
}

#row1 {
    color: rgb(19, 17, 17);
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin-top: 35px;
}

.btn {

    margin-top: 15px;
    border: 3px solid rgb(89, 79, 79);
    border-radius: 5px;
    background-color: rgb(198, 198, 198);
    font-size: 20px;
    font-weight: bold;
    color: black;
   
   width:180px;
   height:50px;
   margin-top:14px;
   align-items: center;
   justify-content: center;
   
   

}
#radio{
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(174, 195, 161);
}

h1 {
    text-align: center;
}
#ContactUs{
    width:100px;
    height:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(208, 66, 66);
}
.form-shape input, .form-shape select, .form-shape textarea{
   width: 92%;
   padding: 0.5rem;
   border-radius: 20px;
   background-color: rgb(199, 173, 140);
   color: rgb(50, 40, 40);
}  */